* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: url('background.jpg') center center no-repeat;
    background-size: cover;
}

h1 {
    display: block;
    width: 100%;
    margin: 0;
    font-family: 'Garamond', serif;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: green;
}